<div id="display"
    style="padding: 1em; margin: auto; margin-top: 2em; max-width: 800px; justify-content: center;  background-color: white; box-shadow: 1px 1px;">
</div>
<div id="comments"
    style="padding: 1em; margin: auto; margin-top: 2em; max-width: 800px; justify-content: center; background-color: white; box-shadow: 1px 1px;">

</div>

