Logged in as: <span id="loggedinas"></span>
<script src="https://cdn.jsdelivr.net/npm/hivesigner"></script>
<script>

    var client = new hivesigner.Client({
        app: 'blokz',
        callbackURL: 'http://127.0.0.1:3000/dashboard/',
        scope: ['vote', 'comment', 'comment_options'],
    });


    let params = (new URL(location)).searchParams;
    const token = params.get('access_token') || localStorage.getItem('sc_token');
    if (token) {
        const self = this;
        this.isInit = false;
        client.setAccessToken(token);

        client.me(function (err, result) {
            if (result) self.username = result.name;
            if (err) self.error = err;
            localStorage.setItem('sc_token', token);
            self.isInit = true;
            console.log(err, result);
            document.getElementById("loggedinas").innerHTML = result.name;
        });
    } else {
        this.isInit = true;
    }


    //     
</script>