<!-- demo -->
<div class="bio" id="bio">
      <div id="userpic"><img id="default_pic" class="profile_pic"></div>
      <span id="name" class="name"></span> - 
      <small><span id="usertitle" class="UserTitle"></span></small><br />
      Steemit: <span id="steemagent"></span><br />
      Age: <span id="age"></span> || Sign:<span id="sign"></span><br />
      Gender: <span id="gender"></span> <br />
      Location: <span id="location"></span><br />
      Hobbies &amp; Skills: <div id="skills" class="skills"></div>
     
   <span>About Me:</span><div id="biofull" class="biofull"></div>
<div>Friends: 
   <div id="Friend1"></div>
   <div id="Friend2"></div>
   <div id="Friend3"></div>
   <div id="Friend4"></div>
   <div id="Friend5"></div>
   <div id="Friend6"></div>
   <div id="Friend7"></div>
   <div id="Friend8"></div>
  </div>
  
   <!-- work / goals , hobbies/intersts , sound/videos> -->
</div>
<!-- demo -->
     
<div class="external">Load External ID resource: <span id="external"></span> <br />
  <small>use : <a href="./?id=42">?id=42</a><br />
<a href="./?steem=sn0n">?steem=sn0n</a><br />
<a href="./?steem=blokz">?steem=blokz</a><br />
</small></div>    
   
   <!-- 
     <button onclick="demo()" id="header" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Playground</button>
           <div id="playground">
             sandbox here         
           </div>
   -->

  
    
  
  
  
  
  
        
