<script src="https://cdn.jsdelivr.net/npm/hivesigner"></script>

<button onclick="hivelogin()">hivesigner login</button> 

<script>


pageURL = window.location.origin;

state = "/";
var client = new hivesigner.Client({
  app: 'blokz',
  callbackURL: pageURL,
  scope: ['vote','comment','comment_options'],
});

var params = {};

// The "username" parameter is required prior to log in for "Hive Keychain" users.
if (hivesigner.useHiveKeychain) {
  params = { username: 'sn0n' };
}

var link = client.getLoginURL(state);
console.log("your login link is: " + link)


function hivelogin() {
client.login(params, function(err, token) {
  console.log(err, token)

});
}

</script>





