<!-- TODO : fix layout to dynamic builds -->

<!-- TODO: integrate into actual profiles -->
<template>
  <a class='mdl-chip mdl-chip--contact mdl-chip--deletable' id="communityURL">
    <img class='mdl-chip__contact mdl-color--pink' id="communityIMG"></img>
    <span class='mdl-chip__text mdl-badge' data-badge="4">leofinance &nbsp;</span>
  </a>
</template>

<!-- 
                <a class='mdl-chip mdl-chip--contact mdl-chip--deletable' href='../?tag=hive-195370'>
                <img class='mdl-chip__contact mdl-color--pink' src='https://images.hive.blog/u/hive-195370/avatar'></img>
                <span class='mdl-chip__text'>rising star &nbsp;</span>
              </a><br />
            -->


<link rel="stylesheet" href="../css/mdl-chips-input.css">
<script src="../js/mdl-chips-input.js" type="application/javascript"></script>


<div style="position: fixed; right: 20px; top: 20px" id="share"><small><i class='material-icons' onclick='share()' style='cursor: pointer;'>share</i></small></div>
        

<div id="profile" style="padding-right: 1em; padding-left: 1em;"></div>

<template id="TempProfile">
  <div style="background-color:white; padding-bottom: 100px; min-height: 100vh;" id="gridd">



    <!-- profileCover -->
    <div class="preopreo" id="coverimage" style="background-color: darkslategray;"></div>
    <div style="text-align: center; margin: -64px auto;">
      <img src="../images/avatar.png" height="128" width="128" class="profimg" id="profimg" alt="blank avatar">
    </div>
    <div style="margin-top: 72px;">
      <div class="bio" id="bio">
        <div id="cms">
          <div id="name" class="name"></div> 
           <div id="usertitle"></div>
        </div>
        <!--<div id="userpic"><img id="default_pic" class="profile_pic"></div>-->

        <div id="nonuser">
        </div>






        <div style='float: right;   width:50%; ' id="fltrt"><strong id="strongInterests">Topics of
            Interest</strong><br />


          <span id="interests" class="interests" style="padding-left: 1em;"></span>
        </div>

        <div style='float: right; clear: both;  width:50%;'>
          <strong>Friends</strong><br />
          <div class="mdl-tabs__panel" id="top8" style="padding: 1em; text-align: center;margin: auto;">
            <!-- sn0n is tom -->
            <div id="tom" onclick="window.location.href='../?hive=sn0n';"
              style="display: inline-block; padding: 5px; margin: 10px auto; width: 100px; text-align: center;">
              <div id="sn0n_tom"><img class="avatar" src="https://images.hive.blog/u/sn0n/avatar"></div>
              <div id="sn0n_tom_ffsName"><small id="sn0n_NEW_tom">sn0n</small></div>
            </div>
            <span id="favorites"></span>
          </div>
        </div>


        <strong id="strongAge">Member Since</strong>
        <div style="padding-left: 1em;" id="age"></div>

        <strong id="strongLocation">Location</strong>
        <div style="padding-left: 1em;" id="location"></div>

        <strong id="strongWebsite">Website:</strong><br />
        <div id="favsite" class="favsite" style="padding-left: 1em;"></div><br />
        <div><strong id="strongAbout">About Me</strong></div>
        <div id="article" class="biofull" style="max-width: 50%;"></div><br />





        <div style="clear: both;">
          <h3 style="border-bottom: .01em solid black; margin-bottom: 0px;">Post History</h3>
          <div id="blog" style="padding: 1em; clear: both;">
          </div>
        </div>

        <strong>Alternative Frontends</strong><br />
        <span id="hiveuser">&nbsp;</span><br />


      </div>
    </div>
  </div>
</template>

<div id="displayUpdate"
  style="display: none; padding: 1em; margin: auto; margin-top: 2em; max-width: 800px; justify-content: center;  background-color: whitesmoke; border: 1px solid grey; box-shadow: 1px 1px;">
</div>

<div id="display"
  style="overflow-wrap: break-word; padding: 1em; margin: auto; margin-top: 2em; max-width: 800px; justify-content: center; ">
</div>


<!-- Quick Reply -->
<div id="somecontext"
  style="display: none; padding: 1em; margin: auto; margin-top: .25em; margin-bottom: 0px; max-width: 800px; justify-content: center; background-color: whitesmoke; border: 1px solid grey; box-shadow: 1px 1px;">
<h4>Quick Reply: </h4>  <textarea id="replyBody"></textarea> <br /><button type="button" id="nextBtn" onclick="quickReply()"
class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
data-upgraded=",MaterialButton,MaterialRipple">Submit</button></div>



<div id="comments"
  style="padding: 1em; margin: auto; margin-top: .25em; margin-bottom: 100px; max-width: 800px; justify-content: center; background-color: whitesmoke; border: 1px solid grey; box-shadow: 1px 1px;">
 </div>

<div id="newPostDiv" style="background-color: white; display:none; padding: 1em;  margin: 0px ">
  <small id="postorcomment"></small>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="posttitleid" style='width: 100%'>
    <label class="mdl-textfield__label" for="postTitle" id="postTitleLabel">Post Title</label>
     <input class="mdl-textfield__input" type="text" id="postTitle">
  </div>

  <div class="mdl-textfield mdl-js-textfield" style='width: 100%; margin-top: 0px; padding: 5px'>
    <textarea id="postBody" style="box-sizing: border-box; height: 100%;"></textarea>
    <label class="mdl-textfield__label" for="postBody" id="postBodyLabel"></label>
  </div>
  
  
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-chipfield" id="tags" style='width: 100%'>
    <input type="hidden" class="mdl-chipfield__input" name="tags" id="tag" value="">
    <input class="mdl-textfield__input" type="text" id="my-input-0">
    <label class="mdl-textfield__label" type="text" for="tagsLabel" id="tags"> tags</label>
  </div><br />

  <div style="margin-bottom: 200px;">
    <button type="button" id="nextBtn" onclick="createPost()"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
      data-upgraded=",MaterialButton,MaterialRipple">Create Post</button>
  </div>


</div>








  

