<div style="background-color:white; padding-bottom: 0px; min-height: 100vh;" id="gridd">
  <!-- profileCover -->
  <div class="preopreo" id="coverimage">&nbsp;</div>
  <div style="text-align: center; margin: -64px auto;">
    <img src="../images/avatar.png" height="128" width="128" class="profimg" id="profimg">
  </div>
  <div style="margin-top: 72px;">
    <div class="bio" id="bio">
      <div id="cms">
        <div id="name" class="name"></div>
        <div id="usertitle"></div>
      </div>
      <!--<div id="userpic"><img id="default_pic" class="profile_pic"></div>-->
      <span id="hiveuser">&nbsp;</span>

      <br />
     
      <div id="interests" class="interests" style="padding-left: 1em;"></div>


      <div id="profilecardmini">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--5-col-desktop">
            <div class="mdl-card__actions">
              <span class="">
                <!-- -->
                <div style="text-align: left; padding-right: 5px; min-width: 222px"
                  id="strongLeft">


                  <div>
                    <strong>Recent Posts:</strong>
                    <div id="recent1link" style="padding-left: 1em;"></div>
                    <div id="recent2link" style="padding-left: 1em;"></div>
                    <div id="recent3link" style="padding-left: 1em;"></div>
                    <div id="recentM" style="padding-left: 1em;"></div>
                  </div>

                  <!--
                  <strong id="myCommunities">Communities: </strong><br />
                  <div id="communities" style="padding-left: 1em;">coming soon...</div>
                  <br />
                  -->


                  <strong id="strongFriends">Top Friends: <br /><small style="color: gray; font-weight: 75">(Click Name or
                    Avatar to open)</small>
                  <div id="favorites"></div>
                </strong>
                


                </div>
                <!-- -->
              </span>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--7-col-desktop">
            <div class="mdl-card__actions">
              <span class="" style="text-align: left; padding-right: 5px">
                <!-- -->
                <strong id="strongWebsite">Website:</strong><br />
                <div id="favsite" class="favsite" style="padding-left: 1em;"></div><br />

                <strong id="strongAge">Age</strong>
                <div style="padding-left: 1em;" id="age"></div>
                <strong id="strongGender">Gender</strong>
                <div style="padding-left: 1em;" id="gender"></div>

                <strong id="strongLocation">Location</strong>
                <div style="padding-left: 1em;" id="location"></div><br />



                <strong id="strongAbout">About Me</strong>
                <div id="article" class="biofull"></div><br />

               


            </div>

            <!-- -->
            </span>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>







<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>

<script>
  var md = new Remarkable();
  md.set({
    html: true,
    breaks: true,
    xhtmlOut: true,
    linkify: true
  });

  // MAIN BODY OF DISPLAYING A PROFILE
  window.onload = function loading() {




    //check if user is set
    if (typeof user !== 'undefined') {

      // gets posting_json_metadata for generic profile data for user
      hive.api.call('database_api.find_accounts', { accounts: [user] }, (err, res) => {
        posting_json = JSON.parse(JSON.stringify(res.accounts[0].posting_json_metadata));
        // TODO: -- remove testing notes ^>^
        console.log("posting_json: " + posting_json);
        // display avater
        document.getElementById("profimg").src = JSON.parse(posting_json).profile.profile_image;
        // display cover image
        document.getElementById("coverimage").style.backgroundImage = "url('" + JSON.parse(posting_json).profile.cover_image + "')";
      });

      // get recent posts
      hive.api.getDiscussionsByAuthorBeforeDate(user, null, now, 10, (err, result) => {

        // testing for loop for posts. 
        // data for each post in a loop

        for (var i = 0; i < result.length; i++) {
          console.log(" for loop data : " + JSON.stringify(result[i]));
          thisPost = JSON.parse(JSON.stringify(result[i]));
          console.log("who dis " + thisPost.author);
          console.log("i is " + i);
        }

        document.title = thisPost.author + "'s personal.community profile";
        // TODO: set loop for each & display inline popup
        var recent1 = JSON.parse(JSON.stringify(result[0]));
        console.log(recent1);
        var recent1date = recent1.created.slice(0, 10);
        post1 = md.render(recent1.body).replace("\n", "");
        post1 = post1.replace(new RegExp("<img ", 'g'), "<img width='80%' ");
        console.log("Looking fo this: " + post1);
        linktocontent = "1. <a href='browser/?post=" + recent1.author + "/" + recent1.permlink +"'>" + recent1.title + "</a> <br /><span>&nbsp;</span>Posted on " + recent1date + "<br />";
        document.getElementById("recent1link").innerHTML = linktocontent;

        //document.getElementById("HivePost").innerHTML = marked(recent1.body);
        console.log("TESTING RECENT POST: " + recent1.body);


        var recent2 = JSON.parse(JSON.stringify(result[1]));
        console.log("recent 2")
        console.log(recent2);
        var recent2date = recent2.created.slice(0, 10);

        post2 = md.render(recent2.body).replace("\n", "");
        post2 = post2.replace(new RegExp("<img ", 'g'), "<img width='80%' ");
        linktocontent = "2. <a href='browser/?post=" + recent2.author + "/" + recent2.permlink +"'>" + recent2.title + "</a> <br /><span>&nbsp;</span>Posted on " + recent2date + "<br />";
        document.getElementById("recent2link").innerHTML = linktocontent;

        //document.getElementById("HivePost").innerHTML = marked(recent1.body);
        console.log("TESTING RECENT POST: " + recent2.body);



        var recent3 = JSON.parse(JSON.stringify(result[2]));
        console.log(recent3);
        var recent3date = recent3.created.slice(0, 10);

        post3 = md.render(recent3.body).replace("\n", "");
        post3 = post3.replace(new RegExp("<img ", 'g'), "<img width='80%' ");
        linktocontent = "3. <a href='browser/?post=" + recent3.author + "/" + recent3.permlink +"'>" + recent3.title + "</a> <br /><span>&nbsp;</span>Posted on " + recent3date + "<br />";
        document.getElementById("recent3link").innerHTML = linktocontent;

        //document.getElementById("HivePost").innerHTML = marked(recent1.body);
        console.log("TESTING RECENT POST: " + recent3.body);




        // view more on peakd
        document.getElementById("recentM").innerHTML = "<div>View More on <a href='http://peakd.com/@" + thisPost.author + "/' target='_blank'>peakd.com/@" + thisPost.author + "</a></div><br />";
      });

      // show link to peakd profile
      document.getElementById("hiveuser").innerHTML = "<a href='http://peakd.com/@" + user + "' target='_blank'>@" + user + "</a>";

      // fetch blokzprofile post from hive
      hive.api.getDiscussionsByAuthorBeforeDate(user, 'blokzprofile', now, 1, (err, result) => {

        // user has a blokz/profile
        if (result.length >= 1) {
          console.log("meep :" + result);
          var blokify = JSON.parse(JSON.stringify(result[0].body));
          var blokzmeta = JSON.parse((result[0].json_metadata));
          console.log(blokify);
          var bitff = JSON.parse(JSON.stringify(blokzmeta));
          console.log("blokzmeta: " + bitff.app);
          console.log(bitff.interests);
          document.getElementById("name").innerHTML = bitff.name;
          document.getElementById("article").innerHTML = bitff.article;
          document.getElementById("usertitle").innerHTML = bitff.usertitle;
          var profage = year.getFullYear() - bitff.birthyear;
          document.getElementById("age").innerHTML = profage;
          document.getElementById("location").innerHTML = bitff.location;
          document.getElementById("gender").innerHTML = bitff.gender;
          document.getElementById("favsite").innerHTML = "<a href='" + bitff.favsite + "' target='_blank'>" + bitff.favsite + "</a>";
          // interests
          var skills = bitff.interests;
          skillsLog = skills.split(',');
          skillsLog.forEach(function (entry) {
            console.log(entry);
            entryy = entry.replace(/\s+/g, '');
            entryy = entryy.replace(/[^a-zA-Z0-9]/g, '');
            entryy = entryy.toLowerCase();
            // creat chips for each interest
            var vadd = document.createElement('button');
            vadd.className = "mdl-chip";
            vadd.id = entryy;
            vadd.setAttribute("onclick", "window.location.href='../browser/?tag=" + entryy + "';");
            document.getElementById("interests").appendChild(vadd);
            var sadd = document.createElement('span');
            sadd.className = "mdl-chip__text";
            sadd.id = entryy + "2";
            document.getElementById(entryy).appendChild(sadd);
            var t = document.createTextNode("#" + entryy);
            document.getElementById(entryy + "2").appendChild(t);
            // ENDNEW
          });

          // favorite steemians
          var favs = bitff.favorites;
          favsLog = favs.split(',');
          favsLog.forEach(function (entry) {
            console.log("show: " + entry);
            entryy = entry.replace(/\s+/g, '');
            entryy = entryy.toLowerCase();
            // CURRENT TODO: FRIEND IMAGE
            console.log("CAUGHT: " + entryy);
            var favfriend = document.createElement("div");
            favfriend.id = entryy + "_";
            favfriend.setAttribute("onclick", "window.location.href='./?hive=" + entryy + "';");
            favfriend.style = "display: inline-block; padding: 5px; margin: 15px auto;width: 100px;  text-align: center"
            document.getElementById("favorites").appendChild(favfriend);
            var para = document.createElement("div");                 // Create a <p> element
            para.id = favfriend.id + "sub";
            var ffs = document.createElement("div");
            ffs.id = favfriend.id;
            var ffsName = document.createElement("div");
            ffsName.id = favfriend.id + "ffsName";
            var ff = favfriend.id + "NEW";   // placeholder
            document.getElementById(entryy + "_").appendChild(para);
            document.getElementById(ffs.id).appendChild(ffsName);
            var image = document.createElement("img");
            var imageParent = document.getElementById(para.id);
            image.className = "avatar";
            image.src = "https://images.hive.blog/u/" + entryy + "/avatar";            // image.src = "IMAGE URL/PATH"
            imageParent.appendChild(image);
            document.getElementById(entryy + "_").appendChild(ffsName);
            ffsName.innerHTML = "<small id='" + ff + "'>" + entryy + "</small>";

          }); // finished displaying blokzprofile

        } else {

          // LOAD GENERIC posting_json_metadata for non blokz/profile user
          console.log("user does not exist! or something went wrong")
          hive.api.call('database_api.find_accounts', { accounts: [user] }, (err, res) => {
            posting_json = JSON.parse(JSON.stringify(res.accounts[0].posting_json_metadata));
            console.log("posting_json: " + posting_json);
            document.getElementById("profimg").src = JSON.parse(posting_json).profile.profile_image;
            document.getElementById("coverimage").style.backgroundImage = "url('" + JSON.parse(posting_json).profile.cover_image + "')";
            if (JSON.parse(posting_json).profile.website !== undefined) {
              document.getElementById("favsite").innerHTML = "<a href='" + JSON.parse(posting_json).profile.website + "' target='_blank'>" + JSON.parse(posting_json).profile.website + "</a>";
            } else {
              document.getElementById("strongWebsite").style.display = "none";
            }
            if (JSON.parse(posting_json).profile.location !== undefined) {
              document.getElementById("location").innerHTML = JSON.parse(posting_json).profile.location;
            } else {
              document.getElementById("strongLocation").style.display = "none";
            }
            document.getElementById("usertitle").innerHTML = JSON.parse(posting_json).profile.about;
            document.getElementById("name").innerHTML = JSON.parse(posting_json).profile.name;
            document.getElementById("strongAge").style.display = "none";
            document.getElementById("strongGender").style.display = "none";
            document.getElementById("strongFriends").style.display = "none";
            document.getElementById("strongAbout").style.display = "none";
            document.getElementById("strongFollow").style.display = "none";
            document.getElementById("age").style.display = "none";
            document.getElementById("gender").style.display = "none";


            //console.log("Location: " +JSON.parse(posting_json).profile.location);

          });
          // finished displaying posting_json_metadata for non blokz/profile user
        }
      });
    } else {

      // TODO: splash page w/ user input

      splash();

    }
  };




</script>