<style>

    

  .demo-card-wide.mdl-card {
    width: 100%;
    margin: 10px auto;  

    background-color: white;
  }
  .preopreo {
    color: #fff;
    min-height: 213px;
    background-color: #0234ce;
    background: center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  
  .profimg {
   border: 3px solid white;
    border-radius: 50%;
    background-color: black;
  }

  .bio {
    text-align: center;
    margin: auto;
  }
  .biofull {
    text-align: left;
    
  }

.avatar {
  height: 64px;
  width: 64px;
}


.name {
  font-weight: bold;
  font-size: 200%;
}



.mdl-card__media {
	margin: 0;
}
.mdl-card__media > img {
	max-width: 100%;
}
.mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
	margin-right: 3px;
	margin-left: 3px;
}

      </style>
<div style="background-color:white" id="gridd">
  
  
  <div class="preopreo" id="profilecard">&nbsp;</div>
    <div style="text-align: center; margin: -64px auto;">
      <img src="<%= site.basePath %>/images/avatar.png" height="128" width="128" class="profimg" id="profimg">
    </div>
  <div style="margin-top: 72px;">
          <div class="bio" id="bio">
            <div id="cms">
              <div id="name" class="name"></div>
              <div id="usertitle"></div>
            </div>
            <!--<div id="userpic"><img id="default_pic" class="profile_pic"></div>-->
            <span id="steemagent"></span>
<div style="text-align: left; padding: 20px; margin: 10px">
            <strong>Most recent steem Posts:</strong><small>
<div id="recent1"></div>
<div id="recent2"></div>
<div id="recent3"></div></small><br />
</div>

<div id="profilecardmini">
             
             
           
          
<!--
-->


<div class="mdl-grid">
   
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--5-col-desktop">
      <div class="mdl-card__actions">
        <span class="">
<!-- -->
<div style="border-right: 1px dashed; text-align: left; padding-right: 5px; min-width: 222px">
<strong>Age:</strong> <div style="text-align: center" id="age"></div>
<strong>Sign:</strong><div style="text-align: center" id="sign"></div>
<strong>Gender:</strong><div style="text-align: center" id="gender"></div>
<strong>Location:</strong><div style="text-align: center" id="location"></div>
<div>&nbsp;</div>
<strong>Favorite Steemians: <br /><small style="color: gray; font-weight: 75">(Click Name or Avatar to open)</small>
  <div id="favorites"></div> 
</strong>


</div>
<!-- -->
        </span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--7-col-desktop">
      <div class="mdl-card__actions">
        <span class="" style="text-align: left; padding-right: 5px">
<!-- -->
<div style="text-align: left; padding-right: 5px"></div>
<strong>Favorite Website:</strong>
<div id="favsite" class="favsite"></div><br />

<strong>#Interests & Communities:</strong>  
<div id="interests" class="interests"></div><br />
<strong>About Me:</strong><div id="article" class="biofull"></div>
        </div>

<!-- -->
        </span>
      </div>
    </div>

</div>





<!-- 
-->
        </div>
        </div>


</div>


<!-- THIS NEEDS TO BE FIXED </div> -->

<!-- work / goals , hobbies/intersts , sound/videos -->

<!-- demo -->

<!-- Basic Chip -->

  <!-- demo file -->
</div>

  
 <div class="external" style="background-color:white" >

  Load a profile below: <br />
  <!-- TODO: add dynamic list of users -->
  <a href="./?steem=sn0n">@sn0n</a><br />
  <a href="./?steem=blokz">@blokz</a><br />
  <a href="./?steem=steemdrops">@steemdrops</a><br />
  or <br />
  <a href="./profile_update/">Update Your Profile</a>
  </small></div>  
  <!-- demo file -->



  <script type="text/javascript" src="/js/steem.js?version=1.06"></script>
