<div class="demo-card-square mdl-card mdl-shadow--2dp" id="profilecard">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text" id="cms"><span id="name" class="name"></span> - 
        <span id="usertitle"></span></h2>
  </div>
  <div class="mdl-card__actions mdl-card--border ">
          <div class="bio" id="bio">
              <!--<div id="userpic"><img id="default_pic" class="profile_pic"></div>-->
              <div class="mdl-card__title-text"><img src="<%= site.basePath %>/images/avatar.png" height="64" width="64" class="profimg" id="profimg"></div>
              Steem: <span id="steemagent"></span><div id="profilecardmini">
              Age: <span id="age"></span> || Sign:<span id="sign"></span><br />
              Gender: <span id="gender"></span> <br />
              Location: <span id="location"></span><br />
              Interests (tags): <div id="interests" class="interests"></div>
             
           <span>About Me:</span><div id="article" class="biofull"></div>
          <div>Favorite Steemians: 
           <div id="favorites"></div> 
          </div>
        </div>
        </div>

     
  </div>
</div>


<!-- demo -->

<!-- work / goals , hobbies/intersts , sound/videos -->

<!-- demo -->

<!-- Basic Chip -->

  <!-- demo file -->
   
  
 <div class="external">

  Load a profile below: <br />
  <!-- TODO: add dynamic list of users -->
  <a href="./?steem=sn0n">@sn0n</a><br />
  <a href="./?steem=blokz">@blokz</a><br />
  <a href="./?steem=steemdrops">@steemdrops</a><br />
  or <br />
  <a href="./profile_update/">Update Your Profile</a>
  </small></div>  
  <!-- demo file -->



  <script type="text/javascript" src="/js/steem.js?version=1.05"></script>
