<script>
  update = true;
</script>



<!-- playground -->
<link rel="stylesheet" href="../css/mdl-chips-input.css">
<script src="../js/mdl-chips-input.js" type="application/javascript"></script>



<!-- // playground -->


<div id="display"
  style="padding: 1em; margin: auto; margin-top: 2em; max-width: 800px; justify-content: center;  background-color: white; box-shadow: 1px 1px;">
</div>
<div id="comments"
  style="padding: 1em; margin: auto; margin-top: 2em; max-width: 800px; justify-content: center; background-color: white; box-shadow: 1px 1px;">

</div>


<div
  style="padding: 3em; margin: 2em auto; justify-content: center; max-width: 800px; text-align: left; border: 1px solid black; background-color: whitesmoke;"
  id="upprofile">
  <h3>personal.community profile builder</h3>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" id="hiveuser" type="hidden" onchange="hiveuserUp()">
    <label class="mdl-textfield__label" for="username"></label>
    <strong>read me:</strong>
  If this is your first time here, please know that creating a profile will create a top level post on your hive account, 
  this will be visible on hive frontends, similar to:  
  <a href="https://personal.community/?post=@eddiespino/blokzprofile" target="_blank">https://personal.community/?post=@eddiespino/blokzprofile</a>.<br />
    This profile also does not update your accounts "Posting json metadata" information such as name, location, website, about/tagline, or profile images. To update that info please use peakd.com or hive.blog (will be included in a future update). 
  </div>



<hr />


  <small>Interests</small><br />
  <div class="mdl-textfield mdl-js-textfield mdl-chipfield" id="interests">
    <input type="hidden" class="mdl-chipfield__input" name="interests" id="interest" value="">
    <input class="mdl-textfield__input" type="text" id="my-input-0">
    <label class="mdl-textfield__label" for="my-input-0"></label>
  </div><br />






  <small>Favorite Users</small><br />
  <div class="mdl-textfield mdl-js-textfield mdl-chipfield" id="favorites">
    <input type="hidden" class="mdl-chipfield__input" name="favorites" id="favorite" value="">
    <input class="mdl-textfield__input" type="text" id="my-input-1">
    <label class="mdl-textfield__label" for="my-input-0"></label>
  </div><br />

  <div class="mdl-textfield mdl-js-textfield">
    <small>Bio/About</small><textarea id="article"></textarea>

    <label class="mdl-textfield__label" for="article" id="articleLabel"></label>
  </div>

  <div>

    <div>
      <button type="button" id="nextBtn" onclick="updateProfile()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
        data-upgraded=",MaterialButton,MaterialRipple"> Update Profile</button>
    </div>


  </div>
</div>