<div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text" id="cms" style="color: white">blokz/profile wizard</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border " id="profileEdit">
            <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:5px;margin-bottom:20px;">
        <div class="step" style="text-align: center"><span class="mdl-chip mdl-color--red">
            <span class="mdl-chip__text">1</span>
        </span><br />Lookup</div>
        <div class="step" style="text-align: center"><span class="mdl-chip mdl-color--red">
            <span class="mdl-chip__text">2</span>
        </span><br />Edit</div>
        <div class="step" style="text-align: center"><span class="mdl-chip mdl-color--red">
            <span class="mdl-chip__text">3</span>
        </span><br />Finalize</div>
      </div>
    <!-- One "tab" for each step in the form: -->
    <div class="slider"> 
        <div class="mdl-textfield mdl-js-textfield">
            <small>Steem Username</small><input class="mdl-textfield__input" type="text" id="steemagent" onchange="steemagentUp()">
            <label class="mdl-textfield__label" for="username"></label>
        </div>
    </div>
    <div class="slider"><br />
        <div class="mdl-textfield mdl-js-textfield">
            <small>Real Name</small><input class="mdl-textfield__input" type="text" id="name">
            <label class="mdl-textfield__label" for="realname" id="nameLabel"></label>
        </div><br />
        
        <div class="mdl-textfield mdl-js-textfield">
          <small>Job/Self Title</small><input class="mdl-textfield__input" type="text" id="usertitle">
            <label class="mdl-textfield__label" for="usertitle" id="usertitleLabel"></label>
        </div><br />
        
        <div class="mdl-textfield mdl-js-textfield">
          <small>Birth Year</small><input class="mdl-textfield__input" type="text" id="birthyear">
            <label class="mdl-textfield__label" for="birthyear" id="birthyearLabel"></label>
        </div><br />
        
        <div class="mdl-textfield mdl-js-textfield">
          <small>Astrology Sign</small><input class="mdl-textfield__input" type="text" id="sign">
            <label class="mdl-textfield__label" for="sign" id="signLabel"></label>
        </div><br />
        
        <div class="mdl-textfield mdl-js-textfield">
          <small>Gender</small><input class="mdl-textfield__input" type="text" id="gender">
            <label class="mdl-textfield__label" for="gender" id="genderLabel"></label>
        </div><br />
        
        
        <div class="mdl-textfield mdl-js-textfield">
          <small>Interests (comma to seperate)</small><input class="mdl-textfield__input" type="text" id="interests">
            <label class="mdl-textfield__label" for="skills" id="interestsLabel"></label>
        </div><br />
        
        
        <div class="mdl-textfield mdl-js-textfield">
          <small>Location</small><input class="mdl-textfield__input" type="text" id="location">
            <label class="mdl-textfield__label" for="location" id="locationLabel"></label>
        </div><br />
        
        <div class="mdl-textfield mdl-js-textfield">
          <small>Favorite Users (comma to seperate)</small><input class="mdl-textfield__input" type="text" id="favorites">
            <label class="mdl-textfield__label" for="skills" id="favoritesLabel"></label>
        </div><br />
        
        
        <div class="mdl-textfield mdl-js-textfield">
          <small>Bio/About</small><textarea class="mdl-textfield__input" type="text" rows= "10" id="article" ></textarea>
            <label class="mdl-textfield__label" for="article" id="articleLabel"></label>
        </div>
    </div>
    <div class="slider" id="subbie">
        <div class="mdl-textfield mdl-js-textfield">
            <small>Private Posting Key:</small><input class="mdl-textfield__input" type="password" id="postingKey">
            <label class="mdl-textfield__label" for="postingKey"></label>
        </div>
    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>

 
</div>
</div>

<style>

    
    
    #regForm {
      background-color: #ffffff;
      margin: 100px auto;
      font-family: Raleway;
      padding: 40px;
      width: 70%;
      min-width: 300px;
    }
    
  
    
    input {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: Raleway;
      border: 1px solid #aaaaaa;
    }
    
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
      background-color: #ffdddd;
    }
    
    /* Hide all steps by default: */
    .slider {
      display: none;
      text-align: left;
    }
    
    button {
      background-color: #4CAF50;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 17px;
      font-family: Raleway;
      cursor: pointer;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    #prevBtn {
      background-color: #bbbbbb;
    }
    
    /* Make circles that indicate the steps of the form: */
    .step {
      text-align: left;
      height: 15px;
      width: 20%;
      margin: 0 2px;
      display: inline-block;
      opacity: 0.2;
    }
    
    .step.active {
      opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: #000;
      width: 20%;
    }

    .demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://i.imgur.com/Gjr80cA.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.profimg {

  border-radius: 50%;
  border: 1px solid #00adee;
}
    </style>
 


<script type="text/javascript" src="https://blokz.io/js/steem.js?version=1.05"></script>
