<button onclick="steemkeytest()">tett</button>


<script>
  // steem keychain integrations
  function steemkeytest() {
  if(window.steem_keychain) {
  // Steem Keychain extension installed...
  console.log("keyring installed");
} else {
  // Steem Keychain extension not installed...
  console.log("keyring not installed");
  steem_keychain.requestHandshake(function() {
    console.log('Handshake received!');
});
}
};

// end steem keychain integrations
  


</script>