<button onclick="steemkeytest()">tett</button>

<form name="contact" method="POST" data-netlify="true">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>


<script>
  // steem keychain integrations
  function steemkeytest() {
  if(window.steem_keychain) {
  // Steem Keychain extension installed...
  console.log("keyring installed");
} else {
  // Steem Keychain extension not installed...
  console.log("keyring not installed");
  steem_keychain.requestHandshake(function() {
    console.log('Handshake received!');
});
}
};

// end steem keychain integrations
  


</script>
