<button id="blokztop" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
  style="background-color: #ddd;">
  <i class="material-icons" onclick="javascript:location.href='#'">keyboard_arrow_up</i>
</button>


<!-- show menu button -->
<button id="blokzmenu" onclick="blokzmenu()" class="mdl-button mdl-js-button mdl-button--fab"
  style="background-color: #ddd">
  <img src="../favicon.png" alt="blokz logo">
</button>




<!-- Floating Action Button Popup Card -->

<div id="blokzmenuPOP" class="external" style="display: none;">

  <div style="background-color: whitesmoke; border: 1px solid grey; box-shadow: 1px 1px; padding: 5px;">
    <a href="../" class="material-icons" style="text-decoration: none;">home</a>
    
    <div id="loggedin">
      <form id="frm2" action="/">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="font-size: 1.25em;">
          <label class="mdl-textfield__label" style="font-size: 1.25em;">Browse as</label>
          <input type="text" name="loginas" class="mdl-textfield__input">
        </div> <br />
        --or--<br /><br /> <a href="https://hiveonboard.com?ref=blokz" target="hiveonboard">Create $HIVE Account</a>
      </form>
      
    </div>
    <div id='showUpdate'></div>
   

    <!-- TODO: add dynamic list of users -->
    
    <br />
    <!-- todo update dynamic-->


    <form id="frm1" action="/">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="font-size: 1.25em;">
        <label class="mdl-textfield__label" style="font-size: 1.25em;">Goto Profile</label>
        <input type="text" name="hive" class="mdl-textfield__input">
      </div>
    </form>

    <a href="https://personal.community">personal.community</a> is a <a href="../?hive=blokz"><img src="../images/favicon.png" alt="blokz logo" style="height:16px" />blokz</a>
    project. be well.

  </div>

</div>



<script>
  if('serviceWorker' in navigator) {
    navigator.serviceWorker
         .register('sw.js')
         .then(function() { console.log("Service Worker Registered"); });
  }
  let deferredPrompt;
  window.addEventListener('beforeinstallprompt', (e) => {
    e.preventDefault();
    deferredPrompt = e;
  });
  </script>

