


<!-- ##### Footer ##### -->
<div id="footer">
   
  <span style="padding-left: 10px; float: left">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
      <i class="material-icons" onclick="javascript:location.href='#'">keyboard_arrow_up</i>
    </button>
  
  </span>
<!-- SIGNATURE -->
<div style="width: 50%; margin: 0 50%">
 
    <div style="text-align: center;"><a href="https://blokz.io/">http://blokz.io/</a> <br />
    This website is <a href="http://copyfree.org/" target="_blank">Copyfree</a>. <br />
    Souce Code: <a href="https://github.com/blokz/profile">blokz/profile</a>

    </div>

</div>
<!-- signature -->
 

    </div>