<span style="padding-left: 10px; float: left">
  <button id="blokztop"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
    <i class="material-icons" onclick="javascript:location.href='#'">keyboard_arrow_up</i>
  </button>
</span>

<!-- show menu button -->
<button id="blokzmenu" onclick="blokzmenu()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <img src="../favicon.png">
</button>