<div style="height: 75px">&nbsp;</div>



  <button id="blokztop" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="background-color: #ddd;">
    <i class="material-icons" onclick="javascript:location.href='#'">keyboard_arrow_up</i>
  </button>


<!-- show menu button -->
<button id="blokzmenu" onclick="blokzmenu()" class="mdl-button mdl-js-button mdl-button--fab" style="background-color: rgb(73, 73, 73);">
  <img src="../favicon.png">
</button>




<!-- Floating Action Button Popup Card -->

<div id="blokzmenuPOP" class="external" style="display: none;">
  
    <div style="background-color: #e7e7f1; border: 1px solid grey; box-shadow: 1px 1px; padding: 5px;">
  
        <div id="loggedin">

          <button onclick="hivelogin()"><img src="../images/hivesigner.svg" height="16px" width="16px" />
            hivesigner login
          </button>

        </div>

        <br />
        <hr />
        <br />
        <!-- TODO: add dynamic list of users -->
        <form id="frm1" action="/"> 
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="font-size: 1.25em;">
            <label class="mdl-textfield__label" for="sample4" style="font-size: 1.25em;">Load Profile</label>
            <input type="text" name="hive" class="mdl-textfield__input">
          </div>
        
        </form>
        <br />
        <!-- todo update dynamic-->
        <a href="../profile_update/" style="font-size: 1.25em;">Update Profile</a>
        <hr />
        a <a href="../?hive=blokz">blokz</a> project
     
    </div>
 
</div>