<title><%= site.title %></title>
<meta name="description" content="<%= page.description || site.description %>" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="../favicon.png" />

<!-- TODO : remove these depends -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_blue.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<!-- end todo -->

<script src="https://cdn.jsdelivr.net/npm/@hiveio/hive-js/dist/hive.min.js"></script>


<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
<script src="../js/sanitize-html.js?ver=5.2"></script>

<link rel="stylesheet" href="../css/styles.css?ver=7.42b">

<script src="../js/blokz.js?ver=7.42b"></script>



<!-- playground stuff -->
<script src="../js/aes256.min.js?ver=5.2"></script>
<script src="../js/wordlist.js?ver=5.2"></script>