
<!-- ##### Template Header ##### -->
<div id="header">
    <!-- <div class="superHeader">
    
    </div>
     menu bar -->
    <div class="midHeader">
    <h1 class="headerTitle">
            <button id="demo-menu-lower-left"
            class="mdl-button">
            <!-- <i class="icon-menu"></i> -->
            <img src="<%= site.basePath %>/images/logo512.png" height="32" width="32">
    </button> <a href="../" style="color: white; text-decoration: none" id="sitelabel">
        blokz/profile
    </a></h1>
    
    <!-- ##### hamburger menu ##### -->
    <label class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
        for="demo-menu-lower-left">           
        <span id="side-bar">
        <span class="sideBarTitle" role=”navigation”>Quick Links:</span>

<!-- ##### EDIT BELOW ##### -->
    <!-- <a href="<%= site.basePath %>/projects/index.html">Projects</a> -->
            <a href="https://blokz.io/plan/">Da Plan</a>
            <a href="./">Steem Profile</a>
            <a href="https://blokz.io/update/">Blokz Updates</a>
            <a href="https://blokz.io/contact/">Contact</a>
            <a href="https://blokz.io/about/">About</a>
<!-- ##### EDIT ABOVE ##### -->                      



            <span class="sideBarTitle">Open Source</span><br />
            <span class="sideBarText">
            This website (<a href="http://blokz.io/" target="_blank">template</a>) and its philosophy are based on open source values. 
            All software is <a href="http://copyfree.org/">Copyfree</a> and <a href="https://github.com/sn0n">Open Source</a> <br />
            <a href="https://opensource.org" target="_blank">ref 1,</a> 
            <a href="https://www.gnu.org/philosophy/open-source-misses-the-point.en.html" target="_blank">ref 2,</a> <br />
            Social Media Icons: <br /><a href="https://github.com/thesabbir/simple-line-icons" target="_blank">here</a><hr />
            
            
            </span>
            

<!-- ##### social media buttons ##### -->
            
            <!-- phrasing -->
            <!-- sidebar -->


            </span>
        </label><!-- ul -->
        
    <!-- end menu bar -->
    </div>

    <div class="superHeader">
    
        
        </div>

<!-- end header -->    
</div>
    <!-- ##### Main Body Content ##### -->
    <div id="main-copy"  role=”main”>
        
