
<!-- ##### Template Header ##### -->
<div id="header">
    <!-- <div class="superHeader">
    
    </div>
     menu bar -->
    <div class="midHeader">
    <h1 class="headerTitle">
            <button id="demo-menu-lower-left"
            class="mdl-button">
            <!-- <i class="icon-menu"></i> -->
            <img src="<%= site.basePath %>/images/logo512.png" height="32" width="32">
    </button> <a href="../" style="color: white; text-decoration: none" id="sitelabel">
        blokz/profile
    </a></h1>
    
    <!-- ##### hamburger menu ##### -->
    <label class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
        for="demo-menu-lower-left">           
        <span id="side-bar">
        <span class="sideBarTitle" role=”navigation”>Quick Links:</span>
    
            <a href="https://blokz.io/plan/">Da Plan</a>
            <a href="./">Steem Profile</a>
            <a href="https://blokz.io/update/">Blokz Updates</a>
            <a href="https://blokz.io/contact/">Contact</a>
            <a href="https://blokz.io/about/">About</a>



            </span>
        </label><!-- ul -->
        
    <!-- end menu bar -->
    </div>

    <div class="superHeader">
    
        
        </div>

<!-- end header -->    
</div>
    <!-- ##### Main Body Content ##### -->
    <div id="main-copy"  role=”main”>
        
