<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  
    <%- body %>
      <%- include('./partials/footer') %>

      
</body>

</html>